body {
  background: #ECECEC !important;
}

.site-title {
  color: #ECECEC;
}

.content {
  padding: 15px 50px 0;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 15px;
}

.content .sidebar {
  grid-column: 1 / 2;
}

.content .map-editor {
  grid-column: 2 / 6;
}

.current-file {
  margin-bottom: 15px;
}

.label {
  font-weight: bold;
  margin-right: 5px;
}

.sidebar .ant-card {
  margin-bottom: 15px;
}

.file-manager .ant-card-body {
  margin-bottom: -15px;
}

.file-manager .ant-upload.ant-upload-select {
  display: block;
}

.file-manager .ant-btn {
  width: 100%;
  margin-bottom: 15px;
}

.puzzle-selector .ant-select {
  width: 100%;
}

.puzzle-editor .ant-alert {
  margin-bottom: 15px;
}

.puzzle-grid {
  border-collapse: collapse;
}

.puzzle-grid.small td {
  border: 1px solid #000;
  width: 8px;
  height: 8px;
}

.puzzle-grid.big td {
  border: 2px solid #000;
  width: 40px;
  height: 40px;
}

.puzzle-grid td.filled {
  background: #000;
}

.puzzle-editor.disabled .puzzle-grid td {
  border-color: #555;
}

.puzzle-editor.disabled .puzzle-grid td.filled {
  background: #555;
}

.tool-selector {
  margin-bottom: 15px !important;
}

.grid-container {
  display: flex;
  flex-direction: row;
}

.grid-container .preview-grid {
  flex: 0 auto;
  margin-right: 15px;
}

.grid-container .editor-grid {
  flex: 1;
}

.preview-grid .puzzle-grid {
  margin: 0 auto;
}

.preview-grid .ant-card-head-title {
  text-align: center;
}
